body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #ff99cc, #6699ff);
    font-family: arial, sans-serif;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 280px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

form {
    margin-top: 20px;
}

input[type="email"], input[type="password"], input[type="tex"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ff99cc;
    border-radius: 5px;
}

input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
}

